# fly.toml app configuration file generated for astro-calendar-personal-fastapi on 2025-12-29T02:38:13Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'astro-calendar-personal-fastapi'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 8003
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
